.carousel > * {
    position: absolute;
}

.carousel {
    min-width: 80vw;
    min-height: 70vh;
    background-position: center;
    background-size: cover;
    transition: 2s background-image;
    position: relative;
    display: flex;
    align-items: center;
    color: white;
}

.carousel:hover {
    #next {
        display: block;
        transition: 2s display;
    }
    #prev {
        display: block;
        transition: 2s display;
    }
}

#next {
    right: 5px;
    z-index: 2;
    display: none;
}

#prev {
    left: 5px;
    z-index: 2;
    display: none;
}

.carousel > div {
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.1) 100%);
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 20px

}

.carousel > div > img {
    width: 300px;
}

.carousel .title {
    font-size: 40px;
}