header {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    height: 30vh;
}

header a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px 10px;
    transition: 0.5s;
}

header a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(2);
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
}

header > img {
    width: 160px;
}